/* Import header and footer css */
@import "/css/header.css";
@import "/css/footer.css";

/* Set up web container for website */
body {
    margin: 0px;
    background-color: rgb(0,162,232);

}

#container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 20vw auto auto 20vw;
    grid-template-areas:
    "head"
    "menu"
    "cont"
    "foot";
 
}

#menu {
    grid-area: menu;
    background-color: rgb(153,217,234);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Highlight divs for easy debug */
.box {
    /* border: 1px solid red; */

}

#content {
    grid-area: cont;
    display: grid;
    grid-row-gap: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;

}

.left-margin {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 10vw;

}

.right-margin {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10vw;

}

.active {
    background-color: purple;

}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding-inline-start: 0px;
    line-height: 2em;

}

ul button {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.section {
    background-color: seashell;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 black;
    transition: 0.3s

}